<!DOCTYPE html>
<html>
  <head>
    <title>Browse Government Social Media Posts – by Measured Voice</title>
    <script type="text/javascript" src="http://use.typekit.com/bvc1jkf.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <%= csrf_meta_tags %>
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
  </head>
  <body>
    <a href="https://github.com/measuredvoice/estuary"><img style="position: fixed; top: 0; right: 0; border: 0; z-index:1031;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub"></a>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="mv_logo" href="http://measuredvoice.com">Measured Voice</a>
          <span class="brand">GovPics</span>
          <!-- <a class="brand" href="/">Estuary</a> -->
          <!-- <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/posts">Browse</a></li>
            </ul>
          </div> -->
        </div>
     </div>
    </div>
    <div class="container">
      <p>The latest photos and videos from official U.S. Government Twitter, Flickr, and YouTube accounts.</p>
      <p>Account data from the <a href="http://registry.usa.gov/">HowTo.gov Social Media Registry API</a>.</p>
      <p>Powered by Amazon Web Services.</p>
      <p>Built by <a href="http://measuredvoice.com">Measured Voice</a>.</p>
      <hr>

      <%= yield %>

    </div>
    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
    <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
      {"parsetags": "explicit"}
    </script>
    <%= javascript_include_tag "application" %>
  </body>
</html>
